<section class="skills-section" id="skills">
  <div class="container">
    <h2 class="section-title">Mis <span>Habilidades</span></h2>
    
    <div class="swiper tech-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular">
            <span>Angular</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript">
            <span>TypeScript</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
            <span>JavaScript</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="springboot.png" alt="Spring Boot">
            <span>Spring Boot</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java">
            <span>Java</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MySQL">
            <span>MySQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="PostgreSQL">
            <span>PostgreSQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub">
            <span>GitHub</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Angular">
            <span>Angular</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript">
            <span>TypeScript</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
            <span>JavaScript</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="springboot.png" alt="Spring Boot">
            <span>Spring Boot</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java">
            <span>Java</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MySQL">
            <span>MySQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="PostgreSQL">
            <span>PostgreSQL</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="skill-box">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub">
            <span>GitHub</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>